1. Write a program to accept percentage from the user and display the grade according to the following criteria:

In [8]:
percentage=float(input("Enter your percentage"))
if percentage>100 or percentage<0:
    print("Invalid input")
else:
    if percentage>90:
        print("You got grade A")
    elif percentage>80 and percentage<=90:
        print("You got grade B")
    elif percentage>=60 and percentage<=80:
        print("You got grade C")
    else:
        print("You got grade D")

Enter your percentage 80.01

You got grade B

2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:

In [12]:
cost=int(input("Enter the bike cost"))

if cost>100000:
    print("The road tax to be paid is",cost*0.15, "rupees")
elif cost>50000 and cost<=100000:
    print("The road tax to be paid is",cost*0.10, "rupees")
else:
    print("The road tax to be paid is",cost*0.05, "rupees")

Enter the bike cost 12345

The road tax to be paid is 617.25 rupees

3. Accept any City from tho user and display monuments Of that City.

In [14]:
print("City: Delhi, Agra, Jaipur")
city=input("Enter the city name from above option: ")

if city=="Delhi" or city=="delhi":
    print("The monument of the city is Red Fort")
elif city=="Agra" or city=="agra":
    print("The monument of the city is Taj Mahal")
elif city=="Jaipur" or city=="jaipur":
    print("The monument of the city is Jal Mahal")
else:
    print("Invalid Input")

City: Delhi, Agra, Jaipur

Enter the city name from above option:  delhi

The monument of the city is Red Fort

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [17]:
number=int(input("Enter the number to be divided by 3"))
count=0

while number>10:
    number=number/3.0
    count+=1
print("The number can be divided", count, "times")

Enter the number to be divided by 3 300

The number can be divided 4 times

5. Why and When to Use while Loop in Python give a detailed description with example

While is loop is used to repeat a block of code

while loop is used to run a loop until a condition is met.
	- A while loop evaluates the condition
	- If the condition evaluates to True, the code inside the while loop is executed.
	- condition is evaluated again.
	- This process continues until the condition is False.
	- When condition evaluates to False, the loop stops.

In [18]:
# program to display numbers from 1 to 10
i=1
n=10

while i<=n:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

6. Use nested while loop to print 3 different pattern.

In [23]:
n=int(input("Enter number "))

for i in range(n+1):
    for j in range(n-i):
        print("*", end=" ")
    print("\n")

Enter number  5

* * * * *

* * * *

* * *

* *

*

In [22]:
n=int(input("Enter number "))

for i in range(n+1):
    for j in range(i):
        print(j+1, end=" ")
    print("\n")

Enter number  5

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [28]:
n=int(input("Enter number "))

for i in range(n+1):
    for j in range(i):
        print("*", end=" ")
    print("\n")
for i in range(n):
    for j in range(n-i-1):
        print("*", end=" ")
    print("\n")

Enter number  5

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

7. Reverse a while loop to display numbers from 10 to 1.

In [31]:
n=10

while n>=0:
    print(n)
    n-=1

10
9
8
7
6
5
4
3
2
1
0

8. Reverse a while loop to display numbers from 10 to 1

In [32]:
n=10

while n>=0:
    print(n)
    n-=1

10
9
8
7
6
5
4
3
2
1
0