Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is information that is set up for easy access, management and updating. Computer databases typically store aggregations of data records or files that contain information, such as sales transactions, customer data, financials and product information.

Databases are used for storing, maintaining and accessing any sort of data. They collect information on people, places or things. That information is gathered in one place so that it can be observed and analyzed. Databases can be thought of as an organized collection of information.

SQL:
RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
These databases have fixed or static or predefined schema
These databases are not suited for hierarchical data storage.
These databases are best suited for complex queries
Vertically Scalable
Follows ACID property
Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc

NoSQL:
Non-relational or distributed database system.
They have dynamic schema
These databases are best suited for hierarchical data storage.
These databases are not so good for complex queries
Horizontally scalable
Follows CAP(consistency, availability, partition tolerance)
Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a set of SQL commands used to define and manipulate the structure of database objects like tables, indexes, views, and constraints.

1. CREATE: The CREATE command is used to create new database objects like tables, indexes, views, and procedures. 
e.g.
CREATE TABLE customers (
   id INT PRIMARY KEY,
   name VARCHAR(50),
   email VARCHAR(50),
   phone VARCHAR(15)
);

2. DROP: The DROP command is used to delete existing database objects like tables, indexes, views, and procedures. 
e.g.
DROP TABLE customers;

3. ALTER: The ALTER command is used to modify the structure of existing database objects like tables, indexes, views, and procedures.
e.g.
ALTER TABLE customers ADD COLUMN address VARCHAR(100);


4. TRUNCATE: The TRUNCATE command is used to delete all the data from a table while keeping the table structure intact.
e.g.
TRUNCATE TABLE customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data stored in relational databases. DML commands allow you to add, modify, and remove data from database tables.

1. INSERT - INSERT command is used to add new rows into an existing database table.
e.g.
INSERT INTO Employees (EmpID, EmpName, EmpSalary, EmpDepartment) VALUES (101, 'John Doe', 5000, 'Sales');

2. UPDATE - UPDATE command is used to modify existing data in a database table.
e.g.
UPDATE Employees SET EmpSalary = 6000 WHERE EmpID = 101;

3. DELETE - DELETE command is used to remove existing data from a database table.
e.g.
DELETE FROM Employees WHERE EmpID = 101;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL includes commands like SELECT, FROM, WHERE, ORDER BY, GROUP BY, HAVING, and others.

SELECT is used commands in DQL, used to retrieve data from one or more tables. 
e.g.
SELECT * from Employees;

Q5. Explain Primary Key and Foreign Key.

Primary Key:
- It is used to identify each record into the database table uniquely.
- The primary key column value can never be NULL.
- A table can have only one primary key.
- The primary key is a unique attribute; therefore, it cannot stores duplicate values in relation.
- The primary key is a clustered index by default, which means it is indexed automatically.
- The primary key value can't be removed from the table. If you want to delete it, then make sure the referencing foreign key does not contain its value.	
- We can insert the values into the primary key column without any limitation, either it present in a foreign key or not.
- The primary key constraint can be defined on the temporary tables.
- It cannot create a parent-child relationship in a table.

Foreign Key:
- It is used to links two tables together. It means the foreign key in one table refers to the primary key of another table.
- The foreign key column can accept a NULL value.
- A table can have more than one foreign key.
- We can store duplicate values in the foreign key column.
- A foreign key is not a clustered index by default. We can make clustered indexes manually.
- The foreign key value can be removed from the table without bothering that it refers to the primary key of another table.
- The value that is not present in the column of a primary key cannot be inserted into the referencing foreign key.
- A foreign key constraint cannot be defined on the temporary tables.
- It can make a parent-child relationship in a table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test2")
mydb.close()

cursor(): 
This method creates a cursor object, which is used to execute SQL queries and fetch data from the database. The cursor is like a pointer to a specific location in the database, and it allows us to navigate and manipulate the data. It is created using the connection object, which is established when connecting to the database.

execute(): 
This method is used to execute SQL queries on the database through the cursor object. It takes an SQL query as its argument and executes it. It can also take parameters in the form of a tuple or a dictionary to insert data into the query.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses are:
FROM > WHERE > GROUP BY > HAVING > SELECT > ORDER BY > LIMIT/OFFSET